.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.primary {
    position: relative;
    border: none;
    transform: all 0.5s;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    color: white;
}
.primary::before,
.primary::after {
    content: '';
    position: absolute;
    z-index: -1;
}
.primary:hover {
    background: #f6e05e;
    box-shadow: 0 0 5px #f6e05e, 0 0 25px #f6e05e, 0 0 50px #f6e05e;
    color: #333;
}
