.wrapper {
    display: flex;
    // align-items: center;
    column-gap: 1rem;
    align-items: stretch;
    position: relative;
    justify-content: center;
    height: 350px;
}
.iner {
    width: 690px;
    right: 2rem;
    position: relative;
    margin: 2rem;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.picture {
    width: 300;
    height: 270px;
    top: 20%;
    position: relative;
    margin-top: -40px;
}
