.home_container {
    text-align: left; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: auto;
}

.frame_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .intro {
        background-color: #D9D9D9;
        width: 800px;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 20px;
        h1 {
            font-size: 40px;
            font-weight: 700;
            color: #227EA9;
        }
        p {
            font-size: 20px;
            color: #227EA9;
        }
    }
    
    .contact {
        background-color: #D9D9D9;
        width: 400px;
        height: 40vh;
        margin-left: 10px;
        display: flex;
        padding-top: 30px;
        justify-content: center;
        margin-bottom: 20px;
    }
}




.sale_slider {
    max-width: 1300px;
    width: 100%;
    justify-content: center;
    .slider_items {
        width: 630px;
        height: 315px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        border-radius: 5px;
        border: none;
        margin: 0 10px;
    }
    .react-multi-carousel-item {
        margin: 0 10px;
    }
}