.footer {
  height: 90px;
  width: 100%;
  background: #8c8c92;
  text-align: center; 
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
